<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Custom CSS -->
    {% block customCSS %}
    {% endblock %}
</head>

<body class="text-center dark-theme">
    <header>
        <h1>Panel de Administrador</h1>
        <div class="logout-container">
            <a class="btn btn-secondary" href="{{ url_for('logout') }}">Cerrar Sesión</a>
        </div>
    </header>
    <div class="tab">
        <a class="tablinks" href="{{ url_for('home') }}">Inicio</a>
        <a class="tablinks" href="{{ url_for('orders') }}">Pedidos</a>
        <a class="tablinks" href="{{ url_for('clients') }}">Clientes</a>
    </div>
    {% block body %}
    {% endblock %}
</body>

</html>
