{% extends './base.html' %}

{% block title %}Dashboard{% endblock %}

{% block customCSS %}
<!-- Link to a Google Font (example) -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<main class="content">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <form id="order_form">
        <fieldset>
            <legend>Datos del Cliente</legend>
            <div class="form-field">
                <input type="text" id="cliente_nombre" placeholder="Buscar cliente...">
                <button type="button" id="check-name">&#10003</button>
                <div class="client-det"></div>
            </div>
            <div id="autocomplete-list" class="autocomplete-suggestions"></div>
        </fieldset>

        <fieldset>
            <legend>Formulario de Items</legend>
            <div class="item"></div>
            <!--boton para agregar un nuevo item-->
            <button type="button" id="add-item">+</button>
        </fieldset>
        
        <button id="submit">Registrar Orden</button>
    </form>
</main>

<footer>
    <script src="{{ url_for('static', filename='js/order_form.js') }}"></script>
</footer>
{% endblock %}
