{% extends './base.html' %}

{% block title %}Dashboard{% endblock %}

{% block customCSS %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<!-- Link to a Google Font (example) -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}


<main class="content">
    <!-- Placeholder for content, you can add more details or widgets here if needed -->
    <p>This is the main content area of your dashboard.</p>
</main>

<footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</footer>
{% endblock %}
