{% extends './base.html' %}

{% block title %}Orders{% endblock %}

{% block customCSS %}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/order_table.css') }}">
{% endblock %}

{% block body %}

<div id="Pedidos" class="tabcontent container mt-4">
    <h2 class="mb-4">Orders list</h2>
    <div class="content table-responsive">
        <table id="ordersTable" class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Client</th>
                    <th>Status</th>
                    <th>Address</th>
                    <th>Total price</th>
                    <th>Start date</th>
                    <th>Finish date</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr class="order-row" data-order-id="{{ order.id }}">
                    <td>{{ order.name }}</td>
                    <td class="status-{{ order.status.lower() }}">
                        {{ order.status }}
                    </td>
                    <td>{{ order.address }}</td>
                    <td>${{ order.total_cost }}</td>
                    <td>{{ order.creation_date }}</td>
                    <td>
                        {% if order.finish_date == '-' %}
                            <button class="finish-button btn btn-custom-green btn-sm" data-order-id="{{ order.id }}">Finish</button>
                            <button class="cancel-button btn btn-custom-red btn-sm" data-order-id="{{ order.id }}">Cancel (not working yet)</button>
                        {% else %}
                            {{ order.finish_date }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<footer>
    <script src="{{ url_for('static', filename='js/order_table.js') }}"></script>
</footer>

{% endblock %}
