{% extends './base.html' %}

{% block title %}Home{% endblock %}

{% block customCSS %}
<!-- Link to a Google Font (example) -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<main class="content container mt-4">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <form id="order_form" class="needs-validation" novalidate>
        <fieldset class="item border p-4 mb-4">
            <legend class="w-auto px-2">Register new order</legend>
            <div class="form-group">
                <label for="client_name" class="form-label">Client name</label>
                <div class="input-group">
                    <input type="text" id="client_name" class="form-control" placeholder="Search for client..." required>
                    <div class="input-group-append">
                        <button type="button" id="check-name" class="btn btn-outline-primary">&#10003</button>
                    </div>
                </div>
                <div id="autocomplete-list" class="autocomplete-suggestions list-group"></div>
                <div class="client-det mt-2"></div>
            </div>
            
        </fieldset>

    </form>
</main>

<footer>
    <script src="{{ url_for('static', filename='js/order_form.js') }}"></script>
</footer>
{% endblock %}
