
body.dark-theme {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #121212; /* Dark background color */
    color: #e0e0e0; /* Light text color */
    margin: 0;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #1f2937; /* Darker header background */
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Tab styles */
.tab {
    overflow: hidden;
    background-color: #161e2b; /* Darker tab background */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.tab a {
    float: left;
    display: block;
    color: #9ca3af; /* Light grey text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.tab a:hover {
    background-color: #374151; /* Dark grey hover background */
}

.tab a.active {
    background-color: #2563eb; /* Blue active tab background */
    color: white;
}

/* Content styles */
.content {
    background-color: #1e293b; /* Darker content background */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #374151; /* Dark grey border */
}

table th {
    background-color: #334155; /* Dark grey background for headers */
    color: #e0e0e0; /* Light text color */
}

table tbody tr:hover {
    background-color: #2d3748; /* Slightly lighter grey on hover */
}

/* Expandable content styles */
.expand-content {
    display: none;
    background-color: #2d3748; /* Dark grey background */
    padding: 10px;
}

.expand-content.active {
    display: table-row;
}

/* Color container styles */
.color-container {
    display: flex;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #2563eb; /* Blue background */
    border-radius: 50%;
    color: white;
    font-size: 14px;
    margin-left: 5px;
}

/* Button styles */
.finish-button {
    background-color: #4caf50; /* Green background */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.finish-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.finish-button:active {
    background-color: #367c39; /* Even darker green on active */
}

.img-container {
    display: flex;
    justify-content: center;
}

/* Logout container styles */
.logout-container {
    text-align: right;
}

/* Button secondary styles */
.btn.btn-secondary {
    color: #ffffff; /* Light text color */
    background-color: #374151; /* Dark grey background */
    border: 1px solid #52596b; /* Border color */
    border-radius: 4px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for background and shadow */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.btn.btn-secondary:hover {
    background-color: #4b5563; /* Lighter grey on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
    border-color: #6b7280; /* Slightly lighter border on hover */
}

.btn.btn-secondary:active {
    background-color: #52596b; /* Even lighter grey on active */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Reset shadow on active */
    border-color: #9ca3af; /* Even lighter border on active */
}

.btn.btn-secondary:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(100, 149, 237, 0.5); /* Custom focus outline */
}

.autocomplete-suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}
.autocomplete-suggestion {
    padding: 8px;
    cursor: pointer;
}
.autocomplete-suggestion:hover {
    background-color: #e0e0e0;
}

.item-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos fluyan hacia abajo si no hay suficiente espacio */
}

.form-field {
    margin-bottom: 10px;
    flex: 1 1 300px; /* Cada campo ocupa un tercio del contenedor con un ancho máximo de 300px */
    padding-right: 10px; /* Espacio entre los elementos */
    box-sizing: border-box; /* Asegura que el padding no afecte al ancho total */
}

.form-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-field select,
.form-field input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no afecte al ancho total */
}

#cliente_nombre{
    width: 50%;
}

.form-field input[type="checkbox"] {
    margin-top: 8px;
}

.delete-item {
    background-color: red;
    color: white;
    border: 1px solid red;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    margin-top: 8px; /* Añade espacio entre el botón de eliminar y los campos */
}

.delete-item:hover {
    background-color: darkred;
    border-color: darkred;
}

/* Estilo base para botones */
button, .button {
    display: inline-block;
    padding: 10px 16px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #007bff; /* Color del borde del botón */
    color: #007bff; /* Color del texto */
    background-color: transparent; /* Fondo transparente */
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transición suave */
}

/* Estilo para botones al pasar el mouse */
button:hover, .button:hover {
    background-color: #007bff; /* Fondo azul cuando se pasa el mouse */
    color: white; /* Texto blanco */
}

/* Estilo para botones al hacer clic */
button:active, .button:active {
    transform: translateY(1px); /* Efecto de clic */
}

/* Estilo específico para botón de agregar item */
#add-item {
    background-color: #28a745; /* Fondo verde */
    border-color: #28a745; /* Borde verde */
    color: white; /* Texto blanco */
}

/* Estilo al pasar el mouse para botón de agregar item */
#add-item:hover {
    background-color: #218838; /* Fondo verde oscuro */
    border-color: #218838; /* Borde verde oscuro */
}

